/* FarmerNewProduct.css */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.FarmerNewProductContainer {
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.FarmerNewProductContainer h2 {
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 25px;
  color: #333;
}

.FarmerNewProductContainer form {
  width: 100%;
  max-width: 600px;
  padding: 0 20px; /* Adjusted padding */
}

.FarmerNewProductContainer label {
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

.FarmerNewProductContainer input,
.FarmerNewProductContainer textarea {
  padding: 10px;
  margin-bottom: 20px;
  width: calc(100% - 20px); /* Adjusted for padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.FarmerNewProductContainer button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width: fit-content;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.FarmerNewProductContainer button:hover {
  background-color: #0056b3;
}
