.retailer-wishlist {
    margin: 20px;
    width: 1200px;
    height: 800px;
    margin-left: 300px;
    overflow-y: auto;
    overflow-x: auto;
  }
  
  .retailer-wishlist h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .retailer-wishlist table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .retailer-wishlist th, .retailer-wishlist td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .retailer-wishlist th {
    background-color: #f2f2f2;
  }
  
  .retailer-wishlist tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .retailer-wishlist tr:hover {
    background-color: #ddd;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }

  .cancel-order-button{
    padding: 8px 16px;
    margin-right: 10px;
    background-color: #e64348;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  @media (max-width: 900px){
    .retailer-wishlist {
        margin: 20px;
        width: 670px;
        height: 1000px;
        margin-left: 230px;
        overflow-y: auto;
        overflow-x: auto;
      }
      
      .retailer-wishlist h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .search-bar {
        margin-bottom: 20px;
        width: 500px;
      }
      
      .search-bar input {
        padding: 8px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  }
  @media (max-width: 767px){
    .retailer-wishlist {
        margin: 20px;
        width: 670px;
        height: 1000px;
        margin-left: 60px;
        overflow-y: auto;
        overflow-x: auto;
      }
      
      .retailer-wishlist h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .search-bar {
        margin-bottom: 20px;
        width: 500px;
      }
      
      .search-bar input {
        padding: 8px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  }
  @media (max-width: 740px){
    .retailer-wishlist {
        margin: 20px;
        width: 650px;
        height: 1000px;
        margin-left: 60px;
        overflow-y: auto;
        overflow-x: auto;
      }
      
      .retailer-wishlist h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .search-bar {
        margin-bottom: 20px;
        width: 500px;
      }
      
      .search-bar input {
        padding: 8px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  }
  @media (max-width: 500px){
    .retailer-wishlist {
        margin: 20px;
        width: 400px;
        height: 750px;
        margin-left: 60px;
        overflow-y: auto;
        overflow-x: auto;
      }
      
      .retailer-wishlist h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .search-bar {
        margin-bottom: 20px;
        width: 500px;
      }
      
      .search-bar input {
        padding: 8px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  }
  @media (max-width: 400px){
    .retailer-wishlist {
        margin: 20px;
        width: 360px;
        height: 750px;
        margin-left: 60px;
        overflow-y: auto;
        overflow-x: auto;
      }
      
      .retailer-wishlist h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .search-bar {
        margin-bottom: 20px;
        width: 500px;
      }
      
      .search-bar input {
        padding: 8px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  }
  @media (max-width: 385px){
    .retailer-wishlist {
        margin: 20px;
        width: 340px;
        height: 750px;
        margin-left: 60px;
        overflow-y: auto;
        overflow-x: auto;
      }
      
      .retailer-wishlist h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .search-bar {
        margin-bottom: 20px;
        width: 500px;
      }
      
      .search-bar input {
        padding: 8px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  }
  @media (max-width: 375px){
    .retailer-wishlist {
        margin: 20px;
        width: 340px;
        height: 770px;
        margin-left: 60px;
        overflow-y: auto;
        overflow-x: auto;
      }
      
      .retailer-wishlist h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .search-bar {
        margin-bottom: 20px;
        width: 500px;
      }
      
      .search-bar input {
        padding: 8px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  }
  @media (max-width: 365px){
    .retailer-wishlist {
        margin: 20px;
        width: 310px;
        height: 770px;
        margin-left: 60px;
        overflow-y: auto;
        overflow-x: auto;
      }
      
      .retailer-wishlist h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .search-bar {
        margin-bottom: 20px;
        width: 500px;
      }
      
      .search-bar input {
        padding: 8px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  }
  @media (max-width: 355px){
    .retailer-wishlist {
        margin: 20px;
        width: 300px;
        height: 770px;
        margin-left: 60px;
        overflow-y: auto;
        overflow-x: auto;
      }
      
      .retailer-wishlist h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .search-bar {
        margin-bottom: 20px;
        width: 500px;
      }
      
      .search-bar input {
        padding: 8px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  }
  @media (max-width: 345px){
    .retailer-wishlist {
        margin: 20px;
        width: 280px;
        height: 770px;
        margin-left: 60px;
        overflow-y: auto;
        overflow-x: auto;
      }
      
      .retailer-wishlist h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .search-bar {
        margin-bottom: 20px;
        width: 500px;
      }
      
      .search-bar input {
        padding: 8px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  }