.heading {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  margin-left: 300px;
}

.retailer-product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 1250px;
  height: 560px;
  overflow-y: auto;
  margin-top: 10px;
  margin-left: 280px;
  margin-right: 300px;
}

.retailer-product-container::-webkit-scrollbar {
  display: none;
}

.retailer-product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #d1f9c9;
  width: 280px;
  height: 530px;
}

.retailer-product-image {
  width: 90%;
  height: auto;
  object-fit: cover;
}

.retailer-product-details {
  padding: 10px;
}

.retailer-product-name {
  font-size: 1.2rem;
  margin: 0;
}

.retailer-product-category {
  margin-top: 5px;
  font-size: 0.9rem;
}

.retailer-product-stock,
.retailer-product-price {
  margin-top: 5px;
  font-size: 0.9rem;
}

.retailer-favorite-icon {
  margin-top: -10px;
  margin-left: 10px;
  right: 10px;
  font-size: 25px; /* Adjust size as needed */
  cursor: pointer;
}

.retailer-filter-search-bar {
  display: flex;
  align-items: center;
  margin-top: -20px;
  margin-left: 300px;
}

/* Filter bar styling */
.retailer-filter-bar {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.retailer-filter-bar h2 {
  margin-right: 10px;
  font-size: 18px;
  color: #333;
}

.retailer-filter-bar select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

/* Style select dropdown arrow */
.retailer-filter-bar select::-ms-expand {
  display: none;
}

.retailer-filter-bar select option {
  font-size: 16px;
}

/* AdminProducts.css */

/* Search bar styling */
.retailer-search-bar input[type="text"] {
  padding: 4px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: -170px;
  margin-top: 50px;
  margin-bottom: -10px;
  flex-grow: 1; /* Allow the search input to grow and fill remaining space */
}

.retailer-search-bar button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.retailer-search-bar button:hover {
  background-color: #0056b3;
}

@media (max-width: 920px) {
  .heading {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    margin-left: 230px;
  }
  .retailer-filter-search-bar {
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-left: 230px;
  }
  .retailer-product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    width: 1210px;
    height: 560px;
    overflow-y: auto;
    margin-top: 10px;
    margin-left: 190px;
    margin-right: 350px;
  }
}

@media (max-width: 767px) {
  .heading {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    margin-left: 80px;
  }
  .retailer-filter-search-bar {
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-left: 80px;
  }
  .retailer-product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    width: 1210px;
    height: 560px;
    overflow-y: auto;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 350px;
  }
}

@media (max-width: 400px) {
  .heading {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    margin-left: 80px;
  }
  .retailer-filter-search-bar {
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-left: 80px;
  }
  .retailer-product-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: calc(100% - 50px); /* Adjusted width to fit the screen */
    height: 700px;
    overflow-y: auto;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .retailer-product-card {
    border: 1px solid #ddd;
    flex-direction: column;
    border-radius: 5px;
    background-color: #d1f9c9;
    width: 300px;
    height: 530px;
  }
  .retailer-product-image {
    width: 80%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 345px) {
  .heading {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    margin-left: 80px;
  }
  .retailer-filter-search-bar {
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-left: 80px;
  }
  .retailer-product-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: calc(100% - 50px); /* Adjusted width to fit the screen */
    height: 700px;
    overflow-y: auto;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .retailer-product-card {
    border: 1px solid #ddd;
    flex-direction: column;
    border-radius: 5px;
    background-color: #d1f9c9;
    width: 300px;
    height: 530px;
  }
  .retailer-product-image {
    width: 80%;
    height: auto;
    object-fit: cover;
  }
}
