/* AdminFarmers.css */

/* Container styling */
.product-container {
  margin: 30px;
  width: 100%;
  height: 100%;
  max-height: 650px;
  overflow-y: auto;
}

/* Heading styling */
.product-container h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

/* Table styling */
.product-table {
  width: 97%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

/* Table header cell styling */
.product-table th {
  background-color: #f0f0f0;
  color: #333;
  font-weight: 600;
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Table body cell styling */
.product-table td {
  padding: 12px;
  border: 1px solid #ddd;
}

/* Alternating row background colors */
.product-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect on table rows */
.product-table tbody tr:hover {
  background-color: #f0f0f0;
}

/* AdminProducts.css */

.filter-search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add margin for spacing */
}

/* Filter bar styling */
.filter-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 30px;
}

.filter-bar h2 {
  margin-right: 10px;
  font-size: 18px;
  color: #333;
}

.filter-bar select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

/* Style select dropdown arrow */
.filter-bar select::-ms-expand {
  display: none;
}

.filter-bar select option {
  font-size: 16px;
}

/* AdminProducts.css */

/* Search bar styling */
.search-bar input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 30px;
  flex-grow: 1; /* Allow the search input to grow and fill remaining space */
}

.search-bar button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}
